html {
    font-size: 24px;
}

body {
    background-color: #efefef;
}

.btn-outline-danger:hover {
    color: #dc3545;
    border-color: #dc3545;
    background-color: transparent;
}

.btn-outline-warning:hover {
    color: #ffc107;
    border-color: #ffc107;
    background-color: transparent;
}
.btn-outline-info:hover {
    color: #17a2b8;
    border-color: #17a2b8;
    background-color: transparent;
}
.btn-outline-dark:hover {
    color: #343a40;
    border-color: #343a40;
    background-color: transparent;
}
.btn-outline-success:hover {
    color: #28a745;
    border-color: #28a745;
    background-color: transparent;
}
.btn-outline-yes:hover {
    color: #79c79d;
    border-color: #79c79d;
    background-color: transparent;
}
.btn-outline-no:hover {
    color: #c8468c;
    border-color: #c8468c;
    background-color: transparent;
}

.window-height {
    height: 100vh;
}



/* bootstrap extra configuration: */


.bg-yes {
    background-color: #79c79d!important;
}
.btn-outline-yes {
    color: #79c79d;
    border-color: #79c79d;
}
.btn-outline-yes:not(:disabled):not(.disabled).active,
.btn-outline-yes:not(:disabled):not(.disabled):active,
.show>.btn-outline-yes.dropdown-toggle {
    color: #000;
    background-color: #79c79d;
    border-color: #79c79d;
}


.bg-no {
    background-color: #c8468c!important;
}
.btn-outline-no {
    color: #c8468c;
    border-color: #c8468c;
}
.btn-outline-no:not(:disabled):not(.disabled).active,
.btn-outline-no:not(:disabled):not(.disabled):active,
.show>.btn-outline-no.dropdown-toggle {
    color: #000;
    background-color: #c8468c;
    border-color: #c8468c;
}

