<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Talarlistan</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="#" th:href="@{/manifest.json}" rel="manifest">
    <link href="#" th:href="@{/logos/favicon.ico}" rel="icon">

    <script src="#" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script src="#" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link href="#" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">


    <link href="#" th:href="@{/css/main.css}" rel="stylesheet" >

</head>
<body class="p-1">
    <div
            th:if="${@environment.getProperty('show-dev-banner')}"
            class="banner bg-danger mx--1 mt--1 text-white text-center">
       DEVELOPMENT
    </div>

    <h1>Talarlistan</h1>


    <h2 class="text-break">Delta i <span th:text="${meetingName}" /></h2>
    <form action="#" th:action="@{/meeting/__${meetingId}__/participant}" class="form-inline" th:object="${participant}" method="post">
        <label for="name">Vad heter du?</label>
        <input id="name" name="name" type="text" class="form-control" />
        <button class="btn btn-primary form-control" type="submit">OK</button>
    </form>

</body>
</html>