<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Talarlistan</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="#" th:href="@{/manifest.json}" rel="manifest">
	<link href="#" th:href="@{/logos/favicon.ico}" rel="icon">

	<link href="#" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<link href="#" th:href="@{/webjars/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
	<script src="#" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script src="#" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

	<link href="#" th:href="@{/css/main.css}" rel="stylesheet" >

</head>
<body>
	<div
	        th:if="${@environment.getProperty('show-dev-banner')}"
	        class="banner bg-danger text-white text-center">
	   DEVELOPMENT
	</div>


<div class="text-center p-3 pb-5">
	<h1>Något trasigt gick sönder</h1>
	<h2>Vi jobbar på att fixa det!</h2>
	<a href="#" th:href="@{/}" class="btn btn-primary" >Till startsidan</a>
</div>


<a class="small text-muted pl-3" href="#" id="seeError">see error</a>

<table id="error" class="d-none">
    <tr>
        <td>Date</td>
        <td th:text="${timestamp}"/>
    </tr>
    <tr>
        <td>Path</td>
        <td th:text="${path}"/>
    </tr>
    <tr>
        <td>Error</td>
        <td th:text="${error}"/>
    </tr>
    <tr>
        <td>Status</td>
        <td th:text="${status}"/>
    </tr>
    <tr>
        <td>Message</td>
        <td th:text="${message}"/>
    </tr>
    <tr>
        <td>Exception</td>
        <td th:text="${exception}"/>
    </tr>
    <tr>
        <td>Trace</td>
        <td>
            <pre th:text="${trace}"/>
        </td>
    </tr>
</table>

<script>
	$( "#seeError" ).on( "click", () => {
		$( "#error" ).toggleClass( "d-none" );
	} );
</script>
</body>
</html>