<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>A Voting App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="webjars/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <script src="webjars/jquery/jquery.min.js"></script>
    <script src="webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>A Voting App</h1>

    <form action="#" th:action="@{/meeting}" method="post">
        <input type="text" id="name" name="name" />
        <input id="submit" class="btn btn-bd-primary" type="submit" value="Skapa nytt möte" />
    </form>
    <script>
        $("#submit").addClass( "btn-success" );
    </script>
</body>
</html>