<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Talarlistan</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/webjars/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>

    <link href="/css/main.css" rel="stylesheet">
    <script src="/js/meeting.js"></script>
</head>
<body class="p-1">
    <h1 class="text-break" th:text="${meetingName}" />
    <input type="hidden" id="meetingId" th:value="${meetingId}"/>

    <p class="small mb-2">Länk för deltagare:
        <a target="_blank" href="#" th:href="${joinUrl}" th:text="${joinUrl}"></a>
    </p>

    <h2 class="h6 mb-0">Status</h2>
    <span class="pr-2 small text-nowrap">Deltagare: <span id="participantCounter">0</span></span>
    <span class="pr-2 small text-nowrap">Ordningsfråga: <span id="breakingQuestionCounter">0</span></span>
    <span class="pr-2 small text-nowrap">Sakupplysning: <span id="informationCounter">0</span></span>
    <span class="pr-2 small text-nowrap">Kommentar: <span id="commentCounter">0</span></span>
    <span class="pr-2 small text-nowrap">Begär ordet: <span id="requestToSpeakCounter">0</span></span>
    <span class="pr-2 small text-nowrap">Rösta JA: <span id="voteYesCounter">0</span></span>
    <span class="pr-2 small text-nowrap">Rösta NEJ: <span id="voteNoCounter">0</span></span>

    <h2 class="h6 pt-2">Talarlista</h2>
    <div id="speakerQueBreakingQuestion"></div>
    <div id="speakerQueInformation"></div>
    <div id="speakerQueComment"></div>
    <div id="speakerQueRequestToSpeak"></div>
    <div id="speakerQueVoteYes"></div>
    <div id="speakerQueVoteNo"></div>

    <h2 class="h6 pt-2">Deltagare</h2>
    <ul id="participants" class="list-group list-group-flush"></ul>

</body>
</html>